@charset "UTF-8";
/***********************
  マイページスタイル
************************/
.piano-my-page .piano-my-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem;
  padding-right: 0;
}
@media screen and (max-width: 786px) {
  .piano-my-page .piano-my-page__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 3.4rem;
  }
}
@media screen and (max-width: 786px) {
  .piano-my-page .piano-my-page__header .page-title {
    width: 100%;
    margin-bottom: 1.8rem;
  }
}
.piano-my-page .piano-my-page__logout-button {
  width: 165px;
  max-width: 100%;
  padding: 0.2em 0.9rem;
  -webkit-transition: color 0.24s ease-in-out, background-color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out, background-color 0.24s ease-in-out;
  border: 1px solid #000;
  background-color: #fff;
}
.piano-my-page .piano-my-page__logout-button i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 4px;
}
.piano-my-page .piano-my-page__logout-button.auth-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 315px;
  height: auto;
  padding: 15px 20px;
  background-color: #4672C6;
  border: none;
}
.piano-my-page .piano-my-page__logout-button.auth-button img {
  width: 65%;
  max-height: 25px;
}
.piano-my-page .piano-my-page__logout-button.auth-button span {
  width: 35%;
  color: #FFF;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
}